.girls {
  position: absolute;
  right: -58px;
  bottom: 14px;
  line-height: 1px;
  z-index: -1;
  @media screen and (min-width: $tablet) {
    right: -36px;
    bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    right: 56px;
    bottom: -33px;
  }
  &__img {
    vertical-align: top;
  }
}
