.review {
  padding-left: 12px;
  padding-right: 12px;
  @media screen and (max-width: $tablet-down) {
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 96.2% 12%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='94'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeFlood flood-color='%2391AA59' flood-opacity='1' result='floodOut'/%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' fill='%23A9B68D' d='M8.787 63.59C4.089 63.472.37 59.565.479 54.864c.11-4.701 4.006-8.416 8.703-8.298 4.697.118 8.416 4.025 8.307 8.726a8.49 8.49 0 0 1-8.702 8.298zM8.801 33.443a3.937 3.937 0 0 1-3.834-4.027 3.92 3.92 0 0 1 4.017-3.83 3.938 3.938 0 0 1 3.834 4.028 3.918 3.918 0 0 1-4.017 3.829zM34.955 63.589c-4.697-.118-8.416-4.025-8.307-8.726.109-4.701 4.005-8.417 8.702-8.298 4.697.118 8.417 4.025 8.307 8.726a8.49 8.49 0 0 1-8.702 8.298zM35.533 38.048c-4.697-.119-8.417-4.025-8.307-8.727a8.49 8.49 0 0 1 8.702-8.298c4.697.119 8.416 4.025 8.307 8.726-.109 4.701-4.005 8.417-8.702 8.299zM36.232 7.928a3.283 3.283 0 0 1-3.195-3.357 3.266 3.266 0 0 1 3.347-3.191 3.281 3.281 0 0 1 3.195 3.356 3.266 3.266 0 0 1-3.347 3.192z'/%3E%3Cpath stroke='%23A9B68D' stroke-width='6' opacity='.702' fill='none' d='M34.377 87.81c-4.697-.118-8.416-4.025-8.307-8.726a8.49 8.49 0 0 1 8.702-8.298c4.698.119 8.417 4.025 8.308 8.726-.11 4.701-4.006 8.417-8.703 8.298z'/%3E%3Cpath fill-rule='evenodd' fill='%23A9B68D' d='M59.785 63.544c-4.697-.118-8.417-4.025-8.307-8.726a8.49 8.49 0 0 1 8.702-8.298c4.697.118 8.416 4.025 8.307 8.726a8.49 8.49 0 0 1-8.702 8.298z'/%3E%3Cpath stroke='%23A9B68D' stroke-width='6' opacity='.702' fill='none' d='M60.454 35.394a5.905 5.905 0 0 1-5.751-6.041 5.878 5.878 0 0 1 6.024-5.745 5.906 5.906 0 0 1 5.751 6.042 5.877 5.877 0 0 1-6.024 5.744z'/%3E%3Cpath fill-rule='evenodd' fill='%23A9B68D' d='M60.438 8.537a3.937 3.937 0 0 1-3.834-4.027A3.919 3.919 0 0 1 60.621.68a3.938 3.938 0 0 1 3.834 4.027 3.92 3.92 0 0 1-4.017 3.83zM59.298 85.157a5.906 5.906 0 0 1-5.751-6.041 5.878 5.878 0 0 1 6.025-5.745 5.907 5.907 0 0 1 5.751 6.041 5.879 5.879 0 0 1-6.025 5.745z'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  @media screen and (min-width: $desktop) {
    flex-grow: 1;
    justify-content: center;
    padding: 94px;
    background-position: 90% 10%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='103' height='135'%3E%3Cdefs%3E%3Cstyle%3E .cls-2,.cls-3%7Bfill:%23a9b68d%7D.cls-2,.cls-4%7Bfill-rule:evenodd%7D.cls-4%7Bfill:none;stroke:%23a9b68d;stroke-width:6px;opacity:.7%7D %3C/style%3E%3Cfilter id='filter' filterUnits='userSpaceOnUse'%3E%3CfeFlood result='flood' flood-color='%2391aa59'/%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic'/%3E%3CfeBlend result='blend' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg id='точки_копия_4' data-name='точки копия 4' opacity='.5' filter='url(%23filter)'%3E%3Cg id='Группа_1_копия_2' data-name='Группа 1 копия 2'%3E%3Cg id='Группа_8' data-name='Группа 8'%3E%3Cpath id='_222' data-name='222' class='cls-2' d='M12.573 95.29a12.9 12.9 0 1 1 13.182-12.57 12.923 12.923 0 0 1-13.182 12.57z'/%3E%3Ccircle id='_333' data-name='333' class='cls-3' cx='12.734' cy='43.672' r='5.953'/%3E%3C/g%3E%3Cg id='Группа_9' data-name='Группа 9'%3E%3Ccircle id='_22' data-name='22' class='cls-3' cx='52.516' cy='82.391' r='12.891'/%3E%3Ccircle id='_33' data-name='33' class='cls-3' cx='53.391' cy='43.703' r='12.891'/%3E%3Cpath id='_44' data-name='44' class='cls-2' d='M54.147 10.97a4.961 4.961 0 1 1 5.07-4.835 4.971 4.971 0 0 1-5.07 4.835z'/%3E%3Cpath id='_11' data-name='11' class='cls-4' d='M51.337 131.98a12.9 12.9 0 1 1 13.182-12.57 12.923 12.923 0 0 1-13.182 12.57z'/%3E%3C/g%3E%3Cg id='Группа_10' data-name='Группа 10'%3E%3Ccircle id='_2' data-name='2' class='cls-3' cx='90.125' cy='82.328' r='12.875'/%3E%3Cpath id='_3' data-name='3' class='cls-4' d='M90.838 52.577a8.929 8.929 0 1 1 9.126-8.7 8.947 8.947 0 0 1-9.126 8.7z'/%3E%3Ccircle id='_4' data-name='4' class='cls-3' cx='90.953' cy='5.953' r='5.953'/%3E%3Cpath id='_1' data-name='1' class='cls-2' d='M89.087 127.961a8.93 8.93 0 1 1 9.126-8.7 8.948 8.948 0 0 1-9.126 8.7z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &__left-cell {
    @media screen and (min-width: $tablet) {
      flex-basis: 124px;
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      flex-basis: auto;
    }
  }
  &__right-cell {
    @media screen and (min-width: $tablet) {
      flex-basis: 320px;
      padding-left: 14px;
      padding-right: 42px;
    }
    @media screen and (min-width: $desktop) {
      flex-basis: 347px;
      padding-left: 55px;
      padding-right: 78px;
    }
  }

  &__photo {
    border-radius: 50%;
    overflow: hidden;
    @media screen and (max-width: $desktop-down) {
      width: 98px;
      height: 94px;
    }
  }

  &__first-last-name {
    font-size: 16px;
    line-height: 1;
    font-family: $robotoFont;
    font-weight: normal;
    margin-bottom: 10px;
    @media screen and (min-width: $tablet) {
      font-size: 18px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 28px;
    }
  }
  &__about-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $robotoFont;
    font-weight: normal;
    line-height: 1;
    @media screen and (min-width: $tablet) {
      justify-content: flex-start;
    }
  }
  &__comment {
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 15px;
    // @media screen and (max-width: $desktop-down) {
    //   overflow: hidden;
    // }
    // @media screen and (max-width: $tablet-down) {
    //   max-height: 84px;
    // }
    @media screen and (min-width: $tablet) {
      line-height: 1.2;
    }
    // @media screen and (min-width: $tablet) and (max-width: $desktop-down) {
    //   max-height: 96px;
    // }
  }
}
