.row {
  display: flex;
  flex-direction: row;
  &_wrap {
    flex-wrap: wrap;
  }
  &_space-between {
    justify-content: space-between;
  }
  &_column{
    flex-direction: column;
  }
  &_middle {
    align-items: center;
  }
  &_fluid {
    max-width: none;
  }
  &_footer {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (min-width: $desktop) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
