.slider {
  @media screen and (max-width: $tablet-down) {
    margin-top: 30px;
    box-shadow: 0px 9px 22.72px 9.28px rgba(33, 33, 33, 0.04);
  }
  @media screen and (min-width: $desktop) {
    height: calc(100vh - 110px);
  }
  &__item {
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 37px;
    @media screen and (min-width: $tablet) {
      padding: 62px;
      & .review {
        box-shadow: 0px 9px 22.72px 9.28px rgba(33, 33, 33, 0.04);
      }
    }
    @media screen and (min-width: $desktop) {
      padding: 92px;
      display: flex;
      flex-direction: column;
    }
  }
  &__pagination {
    // @media screen and (min-width: $desktop) {
    //   transform: translateY(10px);
    // }
  }
  &__button-prev,
  &__button-next {
    width: 24px;
    height: 40px;
    background: none;
    @extend .icon;
    @media screen and (max-width: $tablet-down) {
      display: none;
    }
  }
  &__button-prev {
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='39'%3E%3Cpath data-name='Стрелка левая' d='M20.618 37.99L.986 19.5 20.612 1.01' fill='none' stroke='%23c8d4ac' stroke-width='2'/%3E%3C/svg%3E");
    @extend .arrow-prev;
  }
  &__button-next {
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='39px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(200, 212, 172)' stroke-width='2px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M2.388,1.007 L21.405,18.993 L2.394,36.984 '/%3E%3C/svg%3E");
    @extend .arrow-next;
  }
}
@media screen and (max-width: $desktop-down) {
  .pagination-slider-external {
    padding-top: 20px;
    padding-bottom: 27px;
    text-align: center;
    vertical-align: middle;
  }
}

.swiper-pagination-bullet {
  background-color: $green;
  opacity: 0.5;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  &:not(:last-child) {
    margin-right: 14px;
  }

  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 10px;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 8px;
  height: 8px;
  @media screen and (min-width: $desktop) {
    width: 15px;
    height: 15px;
  }
}

