+b.about
  +e.left-cell
    p Пилатес соединяет элементы растяжки с элементами силовой тренировки
    p Комплекс упражнений укрепляет мышцы пресса и спины, улучшает гибкость мышц и связок, подвижность суставов и избавляет от дискомфорта в позвоночнике
    a.more-detailed(href="#") Подробнее
  +e.right-cell
    +b.PICTURE.group-people
      source(media="(min-width: 1366px)", srcset="images/about-desktop.png")
      source(media="(min-width: 764px)", srcset="images/about-tablet.png")
      +e.IMG.img(src="images/about.png" alt="Группа занимающихся")

