+b.contacts-box
  +e.H3.title Адрес
  +e.ADDRESS.address г. Кропоткин
    br
    | ул. Дугинец 10а
  +e.H3.title Телефон
  +e.A.tel(href="tel:+79183650607") +7 918 365 06 07
  +e.H3.title E-mail
  +e.A.mail(href="mailto:pilatesplus@gmail.com") pilatesplus@gmail.com

